// app global css in SCSS form
.page-background {
  background-color: $main;
}

body {
  font-family: 'Futura', sans-serif;
}

.container{
  background-color: white;
  border-radius: 24px;
  border: solid 1px $border-color;
}

.container-header {
  background-color: $secondary;
  font-weight: bold;
  color: white;
  font-size: 20px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.container-body {
  background-color: white;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.container-event-activity {
  border-radius: 12px;
  border: solid 2px $secondary;
}

.container-border {
  border-radius: 25px;
  border: solid 1px $border-color;
}

.card {
  width: 300px;
  height: 350px;
  margin: 15px;
}

.button {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 100px;

  &:hover {
    transform: scale(1.06) !important;
  }
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.blue-container {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 100px;
  background-color: $secondary;
  padding: 11px;
}


.blue-container-input {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 100px;
  background-color: #004AAD;
  padding: 6px 12px;
}

.custom-input .q-field__control:before {
  border: none !important;
}

.custom-input .q-field__control:focus::after {
  border: none !important;
}

.border-right-grey-responsive {
  @media (min-width: $breakpoint-md-min) {
    border-right: 2px solid $border-color;
    padding-right: 16px;
  }
}

.padding-left-responsive {
  @media (min-width: $breakpoint-md-min) {
    padding-left: 16px;
  }
}

.blue-right-container {
  @media (max-width: $breakpoint-sm-max) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media (min-width: $breakpoint-md-min) {
    padding-left: 12px;
  }
}

.wallpaper{
  background-image: url('@/assets/wallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.text-25 {
  font-size: 25px;
}

.q-textarea .q-field__native {
  resize: none !important;
}

.minimum-size-create-events {
  width: 100%;
  min-height: 400px;
}

.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover-underline:hover {
  text-decoration: underline;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}
